.information{
    position: relative;
    left: 190px;
    bottom: 150px;
  }
Table ,th, td{
        border:1px solid black;
        margin-left: 200px;
        font-family: 'Roboto', sans-serif;
    }


  body{
      background-color:bisque;
  }

  .div1{
    position: relative;
    left:0px;
    border-style: double;  
    padding-left: 20px;
    font-family: 'Roboto', sans-serif;

  }
  .div2{
    position: relative;
    left: 300px;
    bottom: 385px;
    font-family: 'Roboto', sans-serif;
  }
  .button{
    position: relative;
    left: 350px;
    bottom: 300px; 
  }

.Infomation-send{
    position: relative;
    left:0px;
    padding-left: 240px;
    font-family: 'Roboto', sans-serif;
}